::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-700/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}
